@{
    ViewData["Title"] = "FAQ";
}

<h2 class="text-light">@ViewData["Title"]</h2>

<p class="text-light"><b>Q: How can I download the bot?</b></p>
<p class="text-light">A: This bot is a revision of ArmadaBot and is still under development.</p>